/*
Theme Name: Soulmedic
Theme URI: http://wedesignthemes.com/themes/dt-soulmedic/
Author: the DesignThemes team
Author URI: http://themeforest.net/user/designthemes
Description: SoulMedic | Premium Responsive WordPress Theme for Medical Domain! It has all the features that is necessary for Medical and health related business website. Clean and Slick design, Semantic HTML5 and CSS3 code, Powerful WordPress admin panel, tons of useful shortcodes, one click easy demo content installation, Fully Responsive design, Google fonts, Easy to switch color and layout for any element, Event calendar plugin support, WPML Ready and many more features made this theme fit for multipurpose websites too.
Version: 1.7
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, green, white, light, dark, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, post-formats, theme-options, translation-ready, accessibility-ready
Text Domain: dt_themes
*/
/* CSS Document */
/*----*****---- << General >> ----*****----*/

body {direction:rtl; unicode-bidi:embed;}


/*----*****---- << Text Elements >> ----*****----*/

ul li ul {
	padding-right:20px;
	padding-left: 0;
}

ol {
	padding-right:20px;
	padding-left: 0;
}

pre, code {
	border-right:3px solid #d9d9d9;
	border-left: none;
}

blockquote {
	border-right:3px solid;
	clear:right;
	border-left: none;
}

blockquote cite {
	text-align:left;
}

blockquote:before {
	border-right:4px solid #ffffff;
	right:-3px;
	left: auto;
	border-left: none;
}

blockquote.alignright {
	margin-left:20px;
	text-align:right;
	float:right;
	margin-right: auto;
}

blockquote.alignleft {
	margin-right:20px;
	text-align:right;
	float:left;
	margin-left: auto;
}

/* due to IE <HR> margin bugs I had to made classed and apply them to div to achieve the effect of a <HR> */
	
	.hr {
	float:right;
}

.hr-border {
	float:right;
}

.hr-invisible {
	float:right;
}

.hr-invisible-small {
	float:right;
}

.hr-invisible-very-small {
	float:right;
}

.hr.top, .hr-border.top {
	background-position:left center;
	text-align:left;
}

.hr.top a, .hr-border.top a {
	padding-right:5px;
	left:-21px;
	right: auto;
	padding-left: 0;
}

.hr-border.top a {
	left:-23px;
	right: auto;
}

.float-left {
	float:left;
}

.float-right {
	float:right;
}

.post-edit-link {
	float:left;
}

.page-link {
	float:right;
}

.page-link a {
	float:right;
	margin-left:10px;
	margin-right: auto;
}

.page-link span {
	float:right;
	margin-left:10px;
	margin-right: auto;
}

/*----*****---- << Tables >> ----*****----*/

th {
	text-align:right;
}

td {
	text-align:right;
}

/*----*****---- << Definition Lists >> ----*****----*/

/*----*****---- << Forms >> ----*****----*/

/*select {
	background-position:center left;
	padding:15px 15px 15px 10px;
}

.selection-box:after {
	left:1px;
	background-position:center left;
	right: auto;
}*/

input[type="submit"], button, input[type="button"] {
	float:left;
}

#primary #searchform input[type="submit"] {
	float:right;
}

/*----*****---- << Images >> ----*****----*/

.wp-caption {
	padding:5px 5px 7px 7px;
}

.alignright, img.alignright {
	float: right;
	margin-left: 20px;
	margin-right: auto;
}

.alignleft, img.alignleft {
	float: left;
	margin-right: 20px;
	margin-left: auto;
}

.aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;
}

/*----*****---- << Widgets >> ----*****----*/
	
	.widget {
	float:right;
}

.widget ul {
	float:right;
}

.widget ul li {
	float:right;
}

.widget ul ul {
	margin-right:20px;
	margin-left: auto;
}

.widget_categories ul li a, .widget.widget_archive ul li a {
	padding:0px 20px 5px 45px;
}

.widget_categories ul li a span, .widget.widget_archive ul li a span {
	left:0px;
	right: auto;
}

#secondary .widget_categories ul li a:before, #secondary .widget_archive ul li a:before, #primary .widget_categories ul li a:before, #primary .widget_archive ul li a:before {
	right:0px;
	left: auto;
}

#secondary .widget_pages ul li a, #secondary .widget_meta ul li a, #secondary .widget_nav_menu ul li a, #primary .widget_pages ul li a, #primary .widget_meta ul li a, #primary .widget_nav_menu ul li a {
	padding:0px 20px 5px 45px;
}

#secondary .widget_pages ul li a:before, #secondary .widget_meta ul li a:before, #secondary .widget_nav_menu ul li a:before, #primary .widget_pages ul li a:before, #primary .widget_meta ul li a:before, #primary .widget_nav_menu ul li a:before {
	right:0px;
	left: auto;
}

.widget form {
	float:right;
}

.widget #searchform input[type="text"] {
	float:right;
}

.widget #searchform input[type="submit"] {
	float:right;
}

.widget.widget_recent_entries .recent-posts-widget .post-thumb {
	float:right;
	margin:0px 0px 10px 10px;
}

.widget.widget_recent_entries .recent-posts-widget .post-meta {
	border-right:0px;
	border-left: none;
}

.widget.widget_recent_entries .recent-posts-widget .post-meta p {
	border-right:1px solid #ededed;
	float:right;
	border-left: none;
}

.widget.widget_recent_entries .recent-posts-widget .post-meta p span {
	margin-left:5px;
	margin-right: auto;
}

#secondary .widget.widget_recent_entries .recent-posts-widget ul li, #primary .widget.widget_recent_entries .recent-posts-widget ul li {
	padding-right:0px;
	padding-left: 0;
}

/* Safari only override */

@media screen and (-webkit-min-device-pixel-ratio:0) {

}

#secondary .widget.widget_recent_entries ul li a, #primary .widget.widget_recent_entries ul li a {
	padding-right:20px;
	padding-left: 0;
}

#secondary .widget.widget_recent_comments ul li, #primary .widget.widget_recent_comments ul li {
	padding-right:20px;
	padding-left: 0;
}

#secondary .widget.widget_recent_entries ul li:before, #secondary .widget.widget_recent_comments ul li:before, #primary .widget.widget_recent_entries ul li:before, #primary .widget.widget_recent_comments ul li:before {
	right:0px;
	left: auto;
}

.recent-portfolio-widget ul li .thumb {
	float:right;
	margin:0px 0px 5px 20px;
}

.widget.tweetbox .tweet-thumb {
	float:right;
	margin:5px 0px 10px 10px;
}

.widget.flickrbox .flickr-widget div {
	float:right;
	margin:0px 0px 2px 7px;
}

.tagcloud a {
	margin:0px 0px 15px 1px;
	float:right;
}

.tagcloud a:before {
	border-right:3px solid transparent;
	border-left:3px solid transparent;
	right:0;
	left:0;
}

#secondary .dt-sc-appointment .dt-sc-contact-info i, #primary .dt-sc-appointment .dt-sc-contact-info i {
	margin-left:5px;
	margin-right: auto;
}

/*----*****---- << Layout >> ----*****----*/
/*----*****---- << Container >> ----*****----*/

.wrapper {
	float:right;
}

.inner-wrapper {
	float:right;
}

/*----*****---- << Header >> ----*****----*/
	
	#header {
	float:right;
}

#logo {
	float:right;
}

/************* Menu ************/
	
#main-menu {
	float:right;
}

#main-menu > ul.menu {
	float:left;
}

#main-menu > ul.menu > li {
	float:right;
}

#main-menu > ul.menu > li > span.arrow {
	border-right:3px solid transparent;
	border-left:3px solid transparent;
	right:0;
	*right:48%;
	left:0;
}

/* Simple Drop Down Menu */

#main-menu ul li.menu-item-simple-parent ul {
	right:0px;
	float:right;
	left: auto;
}

#main-menu ul li.menu-item-simple-parent ul li a {
	padding:10px 12px 10px 0px;
}

#main-menu ul li.menu-item-simple-parent ul li a:before {
	right:0px;
	left: auto;
}

#main-menu ul li.menu-item-simple-parent ul li ul {
	right:220px;
	border-right:5px solid;
	left: auto;
	border-left: none;
}

#main-menu ul li.menu-item-simple-parent:last-child ul {
	left:0px;
	right:inherit;
}

#main-menu ul li.menu-item-simple-parent:last-child ul li ul {
	left:220px;
	right:inherit;
}

/****** Mega Menu *****/

/*.megamenu-child-container {
	right:0px;
	float:right;
	left: auto;
}*/

.megamenu-child-container > ul.sub-menu > li {
	float:right;
}

.megamenu-child-container ul.sub-menu > li > ul li a {
	padding:0px 12px 10px 0px;
}

.megamenu-child-container ul.sub-menu > li > ul li a:before {
	right:0px;
	left: auto;
}

.megamenu-child-container ul.sub-menu > li > ul > li > ul {
	padding-right:20px;
	padding-left: 0;
}

/****** Social Icons *****/

	.dt-sc-social-icons {
	float:left;
}

.dt-sc-social-icons li img {
	right:0px;
	left: auto;
}

.dt-sc-social-icons li:after {
	right:0;
	left: auto;
}

/* Bbar */
	#bbar-wrapper {
	float:right;
}

#bbar-wrapper i {
	margin-left:3px;
	margin-right: auto;
}

#bbar-wrapper .dt-sc-social-icons {
	float:right;
}

#bbar-wrapper .column.alignleft {
	float:left;
	text-align:left;
}

#bbar-close, #bbar-open {
	left:10px;
	right: auto;
}

#bbar-wrapper a {
	border-right:1px solid #cdcdcc;
	padding:0px 10px 0px 0px;
	margin:0px 8px 0px 0px;
	border-left: none;
}

#bbar-wrapper a.first {
	padding-right:0px;
	margin-right:0px;
	padding-left: 0;
	margin-left: auto;
}

#bbar-wrapper ul.top-menu li:first-child a, #bbar-wrapper ul.menu li:first-child a {
	padding-right:0px;
	margin-right:0px;
	padding-left: 0;
	margin-left: auto;
}

#bbar-wrapper.header3 .dt-sc-social-icons {
	float:left;
}

/*----*****---- << Main >> ----*****----*/
	
	#main {
	float:right;
}

#primary {
	float:right;
}

#primary.with-right-sidebar {
	float:left;
}

#secondary {
	margin:30px 20px 0px 0px;
	float:right;
}

#secondary.right-sidebar {
	margin:30px 0px 0px 20px;
}

.side-navigation {
	float:right;
	margin:0px 0px 0px 2%;
}

.side-navigation-content {
	float:right;
}

#slider {
	float:right;
}

/*----*****---- << Breadcrumb >> ----*****----*/			
		.breadcrumb-section {
	float:right;
}

.breadcrumb {
	float:right;
}

.breadcrumb a {
	float:right;
}

.breadcrumb span {
	float:right;
}

.breadcrumb h1 {
	float:right;
}

.breadcrumb-section #searchform {
	float:left;
}

.breadcrumb-section #searchform input[type="text"] {
	float:right;
}

/*----*****---- << Portfolio >> ----*****----*/
		
.carousel-arrows {
	left:0px;
	right: auto;
}

.carousel-arrows a {
	/*float:right;*/
	margin-right:1px;
	margin-left: auto;
}

.dt-sc-sorting-container {
	float:right;
}

.dt-sc-sorting-container a {
	margin:0px 0px 10px 1px;
	float:right;
}

.dt-sc-portfolio-container {
	float:right;
}

.portfolio-carousel-wrapper {
	float:right;
}

.portfolio-carousel {
	float:right;
}

.portfolio-carousel-wrapper .carousel-arrows {
	left:5px;
	right: auto;
}

.portfolio .portfolio-detail {
	float:right;
	text-align:right;
}

.portfolio .portfolio-detail h5, .portfolio .portfolio-detail p {
	padding:0px 70px 0px 10px;
}

.portfolio .portfolio-detail .views {
	float:right;
	right:0px;
	left: auto;
}

.portfolio .image-overlay {
	float:right;
	right:0px;
	left: auto;
}

.portfolio .image-overlay a.zoom {
	right:0;
	left:100%;
}

.portfolio .image-overlay a.link {
	left:0;
	right:100%;
}

.portfolio:hover .image-overlay a.zoom {
	right:0px;
	left:75px;
}

.portfolio:hover .image-overlay a.link {
	right:75px;
	left:0px;
}

@media only screen and (min-width:768px) {

}

.isotope .isotope-item {
	-o-transition-property:         top, right, opacity;
}

/* Portfolio Single */
		.portfolio-single {
	float:right;
}

.portfolio-slider-container {
	float:right;
}

/*.portfolio-slider {
	float:right;
}*/

.portfolio-slider li {
	float:right;
	margin-left:10px;
	margin-right: auto;
}

.portfolio-slider-container .bx-controls-direction {
	float:right;
}

.portfolio-slider-container .bx-controls-direction a {
	float:right;
}

.portfolio-slider-container .bx-controls-direction a.bx-prev {
	right:10px;
	left: auto;
}

.portfolio-slider-container .bx-controls-direction a.bx-next {
	left:10px;
	right: auto;
}

.portfolio-share {
	float:right;
}

.portfolio-single .tags span {
	margin-left:5px;
	margin-right: auto;
}

.bx-controls a.bx-prev {
	background:#808080 url(images/portfolio-slider-arrow-right.png) center center no-repeat;
	right: 0;
	left: auto;
}

.bx-controls a.bx-next {
	background:#808080 url(images/portfolio-slider-arrow-left.png) center center no-repeat;
	left: 0;
	right: auto;
}

.post-nav-container {
	float:right;
}

.post-nav-container .post-prev-link {
	float:right;
}

.post-nav-container .post-next-link {
	float:left;
}

.portfolio-single .left-gallery.dt-sc-two-third {
	margin-right:2%;
	float:left;
	margin-left:0px;
}

.portfolio-single .dt-sc-one-third.last {
	margin-right:0px;
	margin-left: auto;
}

.portfolio-single .dt-sc-two-third {
	margin-left:2%;
	margin-right: auto;
}

/*----*****---- << Pagination >> ----*****----*/
		
		.pagination {
	float:right;
}

.pagination ul {
	float:right;
}

.pagination ul li {
	float:right;
}

.pagination ul li a, .pagination .next-post a, .pagination .prev-post a {
	margin:0px 0px 0px 10px;
	float:right;
}

.pagination ul li a:after, .pagination .next-post a:after, .pagination .prev-post a:after {
	right:0;
	left: auto;
}

.pagination ul li.active-page {
	margin:0px 0px 0px 10px;
	float:right;
}

.pagination .next-post {
	float:right;
	margin-right:4px;
	margin-left: auto;
}

.pagination .prev-post {
	float:right;
	margin-left:4px;
	margin-right: auto;
}

/*----*****---- << Blog >> ----*****----*/
		
.entry-meta {
	right:0;
	left: auto;
}

.blog-entry {
	float:right;
}

.blog-entry-inner {
	padding:0px 80px 0px 0px;
}

.entry-details .entry-metadata span {
	margin-left:5px;
	margin-right: auto;
}

.entry-details .read-more {
	left:0px;
	right: auto;
}

.author-bio {
	float:right;
}

.author-bio .image {
	float:right;
	margin-left:3%;
	margin-right: auto;
}

.author-bio .author-details {
	float:right;
}

.entry-metadata p {
	float:right;
	margin:0px 0px 0px 15px;
}

.sticky .featured-post, .featured-post {
	padding:0px 50px 0px 0px;
}

.featured-post span {
	right:0px;
	left: auto;
}

/*----*****---- << Blog Comment Entries >> ----*****----*/	
		
		.commententries {
	float:right;
}

ul.commentlist {
	float:right;
}

ul.commentlist li {
	padding:0px 115px 0px 0px;
}

ul.commentlist li ul.children {
	float:right;
}

ul.commentlist li .respond {
	margin-right:69px;
	margin-left: auto;
}

ul.commentlist li .comment-details:before {
	right:0px;
	left: auto;
}

ul.commentlist li .comment-author {
	right:0px;
	left: auto;
}

ul.commentlist li .comment-author img {
	float:right;
}

ul.commentlist li .author-name {
	padding-right:50px;
	padding-left: 0;
}

ul.commentlist li .author-name span {
	margin:0px 0px 0px 10px;
	right:0px;
	left: auto;
}

ul.commentlist li .reply {
	left:0px;
	right: auto;
}

#respond .form-submit {
	text-align:left;
}

.social-share-icons {
	float:right;
}

.social-share-icons li {
	margin:0px 0px 0px 10px;
}

.comment-body ul li, .comment-body ol li {
	padding-right:0px;
	padding-left: 0;
}

/*----*****---- << Side Navigation >> ----*****----*/
	
	ul.side-nav {
	float:right;
}

ul.side-nav li {
	float:right;
}

ul.side-nav li a {
	padding:10px 60px 10px 0px;
}

ul.side-nav li a:before {
	right:0;
	left: auto;
}

ul.side-nav > li.current_page_item > a:after, ul.side-nav > li > ul > li.current_page_item > a:after {
	left:-11px;
	right: auto;
}

ul.side-nav li ul {
	padding-right:0px;
	padding-left: 0;
}

ul.side-nav li ul li a {
	padding-right:85px;
	padding-left: 0;
}

ul.side-nav ul ul li a {
	padding-right:120px;
	padding-left: 0;
}

/*----*****---- << 404 >> ----*****----*/
	.error-info {
	float:right;
}

/*----*****---- << Newsletter >> ----*****----*/			
	.newsletter-form {
	float:right;
}

.newsletter-form form {
	float:left;
}

.newsletter-form input[type="email"], .newsletter-form input[type="text"] {
	float:right;
}

.newsletter-form input[type="submit"] {
	float:right;
}

/*----*****---- << Goto Top >> ----*****----*/
	
	#toTop {
	left:30px;
	background:url(images/ui.totop.png) no-repeat right top;
	right: auto;
}

#toTopHover {
	background:url(images/ui.totop.png) no-repeat right -40px;
	float:right;
}

/*----*****---- << Footer >> ----*****----*/
		
		#footer {
	float:right;
}

#footer .widget ul li {
	padding:7px 15px 7px 0px;
}

#footer .widget ul li:before {
	right:0px;
	left: auto;
}

#footer .widget.widget_recent_entries .recent-posts-widget ul li {
	padding-right:0px;
	padding-left: 0;
}

#footer .widget {
	float:right;
}

#footer .widget h3.widgettitle:after {
	right:0px;
	left: auto;
}

#footer .widget .recent-posts-widget ul li {
	padding-right:0px;
	padding-left: 0;
}

#footer .widget .tweet_list li {
	padding-right:0px;
	padding-left: 0;
}

#footer .widget .dt-sc-social-icons li {
	float:right;
	margin:0px 0px 0px 5px;
}

#footer .widget .textwidget ul li {
	padding-right:22px;
	padding-left: 0;
}

#footer .copyleft {
	float:right;
}

.copyleft-content {
	float:right;
}

.footer-logo {
	float:left;
}

/*----*****---- << Contact Form 7 >> ----*****----*/

.wpcf7-form span.wpcf7-not-valid-tip {
	right:0px;
	left: auto;
}

.wpcf7-form span.wpcf7-not-valid-tip:before {
	background:url(images/error-arrow.png) top right no-repeat;
	right:14px;
	left: auto;
}

.wpcf7-form div.wpcf7-validation-errors, .wpcf7-form div.wpcf7-mail-sent-ok {
	padding:15px 35px 15px 15px;
	float:right;
}

.wpcf7-form div.wpcf7-validation-errors:before, .wpcf7-form div.wpcf7-mail-sent-ok:before {
	right:10px;
	left: auto;
}

.wpcf7-form span.wpcf7-list-item {
	margin-left:25px;
	margin-right: auto;
}

.wpcf7-form input[type="radio"] {
	margin-left:5px;
	margin-right: auto;
}

/*----*****---- << Events >> ----*****----*/

#tribe-bar-form .tribe-bar-submit input[type="submit"] {
	float:right;
}

.tribe-events-sub-nav li a:after, .tribe-events-read-more:after {
	right:0;
	left: auto;
}

#tribe-events-content .tribe-events-calendar td {
	text-align:right;
}

.tribe-events-tooltip .tribe-events-event-thumb {
	padding-left:10px;
	padding-right: 0;
}

.tribe-events-list .tribe-events-event-image {
	margin-left:2%;
	margin-right: auto;
}

/* Events Shortcode */
.events-shortcode-list {
	float:right;
}

.events-shortcode-list .event-thumb {
	float:right;
}

.events-shortcode-list .event-meta {
	float:right;
}

.events-shortcode-list .event-meta span {
	margin-left:5px;
	margin-right: auto;
}

/*----*****---- << Delicate Style Picker >> ----*****----*/
		
.delicate-style-picker-wrapper {
	right:0px;
	left: auto;
}

#delicate-style-picker {
	float:right;
}

#delicate-style-picker ul {
	float:right;
}

#delicate-style-picker .hr {
	float:right;
}

.style-picker-ico {
	right:225px;
	left: auto;
}

/*----*****---- << Retina Images >> ----*****----*/

@media only screen and (-moz-min-device-pixel-ratio: 1.5), 
only screen and (-o-min-device-pixel-ratio: 3/2), 
only screen and (-webkit-min-device-pixel-ratio: 1.5), 
only screen and (min-devicepixel-ratio: 1.5), 
only screen and (min-resolution: 1.5dppx) {

.style-picker-ico {
	right:225px;
	left: auto;
}

}


/*----*****---- << Shortcodes >> ----*****----*/

h5.dt-sc-toggle:before, h5.dt-sc-toggle-accordion:before { left:inherit; right:0px;  }
.dt-sc-toggle-frame h5.dt-sc-toggle a, .dt-sc-toggle-frame h5.dt-sc-toggle-accordion a { border-left:0px; border-right:40px solid; }
.dt-sc-toggle-frame .dt-sc-toggle-content .block { padding:10px 15px 25px 20px; border-left:0px; border-right:40px solid #d5d5d5; }

.dt-sc-ico-content.type3 .icon { left:inherit; right:0px; }
.dt-sc-ico-content.type3 { padding-left:0px; padding-right:110px; }

ul.dt-sc-fancy-list li:before { left:inherit; right:0px; }
ul.dt-sc-fancy-list li { padding-left:0px; padding-right:20px; }

select, input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], input[type="range"], input[type="date"], textarea, input.text { text-align:right; }
select.wpcf7-form-control { padding-right:40px; }

.wpcf7-form-control-wrap .selection-box:after { right:0px; left:inherit; }
.wpcf7 label { float:right; }
span.wpcf7-form-control-wrap { text-align:right; }

.selection-box:after { left:0px; right:inherit; border-right:1px solid #e3e3e3; }
.selection-box select { background:none; padding-left:40px; }

.dt-sc-contact-info i, .dt-sc-contact-info.address i { float:right; margin-left:10px; margin-right:0px; }

.copyright-content { float:right; }

.dt-sc-team h4 i { margin-right:0px; margin-left:10px; }
.dt-sc-team .image { float:right; margin-right:0px; margin-left:4%; }

.dt-sc-colored-box h5 span, .dt-sc-numbered-list li span { margin-right:0px; margin-left:10px; }

h5.dt-sc-toggle, h5.dt-sc-toggle-accordion { padding-left:0px; padding-right:55px; }

.dt-sc-infographic-bar, .dt-sc-testimonial { padding-left:0px; padding-right:120px; }
.dt-sc-progress .dt-sc-bar { float:right; }

.dt-sc-testimonial .author { left:inherit; right:0px; }
.dt-sc-testimonial blockquote { text-align:right; }
.dt-sc-testimonial blockquote:before { display:none; }

ul.dt-sc-tabs-frame li { float:right; }

ul.products li .product-four-column .product-details-hover .star-rating, ul.products li .product-three-column-with-sidebar .product-details-hover .star-rating { right:34%; }
.woocommerce .star-rating:before, .woocommerce-page .star-rating:before { left:inherit; right:0; }

ul.products li .product-details-hover .yith-wcwl-add-button.show { margin-right:5px; }

.dt-sc-titled-box h6.dt-sc-titled-box-title span { margin-right:0px; margin-left:5px; }

.payment_methods a { display:inline-block; }
.payment_methods a { left:0px; }


#tiptip_holder.tip_top #tiptip_arrow { left:0; }
#tiptip_holder.tip_bottom #tiptip_arrow { left:0; }
#tiptip_holder.tip_right #tiptip_arrow { left:5px; }
#tiptip_holder.tip_left #tiptip_arrow { right:-7px; }

.dt-sc-error-box:before, .dt-sc-warning-box:before, .dt-sc-success-box:before, .dt-sc-info-box:before { right:10px; left:inherit; top:17px; }
.dt-sc-error-box, .dt-sc-warning-box, .dt-sc-success-box, .dt-sc-info-box { padding:15px 35px 15px 15px; }

.dt-sc-dropcap { float:right; }
.dt-sc-dropcap.dt-sc-dropcap-circle, .dt-sc-dropcap.dt-sc-dropcap-bordered-circle, .dt-sc-dropcap.dt-sc-dropcap-square, .dt-sc-dropcap.dt-sc-dropcap-bordered-square { margin-right:0px; margin-left:10px; }

ul.side-nav > li.current_page_item > a:after, ul.side-nav > li > ul > li.current_page_item > a:after { -moz-transform: scale(1) rotate(180deg) translate(0px); -webkit-transform: scale(1) rotate(180deg) translate(0px); -o-transform: scale(1) rotate(180deg) translate(0px); transform: scale(1) rotate(180deg) translate(0px); }
ul.side-nav li a:before { content:"\f0d9"; }

.bx-wrapper { direction:ltr; }
